<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.mekkablue.MagicRemover</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Magic Remover</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.5</string>
	<key>CFBundleVersion</key>
	<string>24</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Rainer Erich Scheichelbauer, 2020</string>
	<key>NSPrincipalClass</key>
	<string>MagicRemover</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/mekkablue/MagicRemover/master/MagicRemover.glyphsPalette/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/mekkablue/MagicRemover</string>
	<key>productReleaseNotes</key>
	<string>Allow any full-segment selection for breaking the path (with OPTION key).</string>
</dict>
</plist>
